<div class="menu-footer">
    <div class="menu-column">
        <p>Veracruz, México</p>
    </div>
    <div class="menu-column">
        <p>+52 555 555 5555</p>
        <p>test@emial.com</p>
    </div>
</div>

<style>
    .menu-footer {
        margin: 0 auto;
        width: 80%;
        padding: 2rem;
        display: flex;
        align-items: flex-end;
        gap: 2rem;
    }
    p {
        color: var(--base-300);
    }
</style>
