---
import Button from "@components/common/Button.astro";
import HeroImage from "./HeroImage.astro";
import Header from "./Header.astro";
import HeroFooter from "./HeroFooter.astro";
---

<div class="hero-inner">
    <HeroImage />

    <div class="hero-content">
        <Header />

        <Button name="menu-btn" text="Menu" icon="menu-sharp" />

        <Button name="contact-btn" text="Contact" icon="arrow-forward-sharp" />

        <HeroFooter />
    </div>
</div>

<style is:global>
    .hero-inner {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        overflow: hidden;
    }

    .hero-content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 2rem;
        color: var(--base-300);
    }
    .menu-btn {
        position: fixed;
        z-index: 10;
        top: 3rem;
        right: 3rem;
    }

    .contact-btn {
        position: fixed;
        z-index: 10;
        bottom: 3rem;
        left: 50%;
        transform: translate(-50%);
    }

    @media (max-width: 1200px) {
        .hero-inner {
            border-radius: 4rem;
        }
    }

    @media (max-width: 800px) {
        .hero-inner {
            border-radius: 3rem;
        }
    }

    @media (max-width: 480px) {
        .hero-inner {
            border-radius: 2rem;
        }
    }
</style>
