<div class="hero-img">
    <img src="/assets/images/bg.webp" alt="Background" />
</div>

<style>
    .hero-img {
        position: absolute; /* It was absolute */
        width: 100%;
        height: 100%;
        transform: scale(1.5);
        will-change: transform;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
