---
import HeroImage from "./HeroImage.astro";
import Header from "./Header.astro";
import HeroFooter from "./HeroFooter.astro";
---

<div class="hero-inner">
    <HeroImage />

    <div class="hero-content">
        <Header />
        <HeroFooter />
    </div>
</div>

<style>
    .hero-inner {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        overflow: hidden;
    }

    .hero-content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 2rem;
        color: var(--base-300);
    }

    @media (max-width: 1200px) {
        .hero-inner {
            border-radius: 4rem;
        }
    }

    @media (max-width: 800px) {
        .hero-inner {
            border-radius: 3rem;
        }
    }

    @media (max-width: 480px) {
        .hero-inner {
            border-radius: 2rem;
        }
    }
</style>
