---
import Project from "./Project.astro";
---

<Project title="Palantir" description="Kotlin and Spring Boot Project">
    <div class="media"></div>
</Project>

<style>
    .media {
        position: absolute;
        z-index: 2;
        top: 0rem;
        right: 0rem;
        bottom: 0rem;
        width: 50%;
        height: auto;
        margin: 2rem;
        background-image:
            linear-gradient(to right, currentColor 1px, transparent 1px),
            linear-gradient(to bottom, currentColor 1px, transparent 1px);
        background-size: 3rem 3rem; /* Tamaño de las celdas del grid */
        border-radius: 2rem;
        background-position: center center;
        overflow: hidden;
    }
</style>
