---
import Layout from "../layouts/Layout.astro";
import PreloaderProgress from "@components/preloader/PreloaderProgress.astro";
import PreloaderMask from "@components/preloader/PreloaderMask.astro";
import PreloaderFooter from "@components/preloader/PreloaderFooter.astro";
import Hero from "@components/hero/Hero.astro";
---

<Layout>
    <PreloaderProgress />
    <PreloaderMask />
    <PreloaderFooter />

    <div class="container">
        <section>
            <Hero />
        </section>
        <section>
            <h1>Who</h1>
        </section>
        <section>
            <h1>Projects</h1>
        </section>
        <section><h1>Contact</h1></section>
    </div>
</Layout>
