---
import Layout from "../layouts/Layout.astro";
import PreloaderProgress from "@components/preloader/PreloaderProgress.astro";
import PreloaderMask from "@components/preloader/PreloaderMask.astro";
import PreloaderFooter from "@components/preloader/PreloaderFooter.astro";
import Menu from "@components/menu/Menu.astro";
import Hero from "@components/hero/Hero.astro";
import About from "@components/about/About.astro";
import Portfolio from "@components/portfolio/Portfolio.astro";
import Contact from "@components/contact/Contact.astro";
---

<Layout>
    <PreloaderProgress />
    <PreloaderMask />
    <PreloaderFooter />

    <Menu />

    <div class="container">
        <Hero />
        <About />
        <Portfolio />
        <Contact />
    </div>
</Layout>
