<div class="preloader-mask"></div>

<style>
    .preloader-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100svh;
        pointer-events: none;
    }

    .preloader-mask {
        background-color: var(--base-100);
        mask:
            linear-gradient(var(--base-300), var(--base-300)),
            url("/assets/icons/pill.svg") center no-repeat;
        mask-composite: subtract;
        will-change: transform;
        z-index: 1;
    }

    @media (max-width: 1200px) {
        .preloader-mask {
            mask:
                linear-gradient(var(--base-300), var(--base-300)),
                url("/assets/icons/pill.svg") center/90% no-repeat;
            mask-composite: subtract;
        }
    }

    @media (max-width: 800px) {
        .preloader-mask {
            mask:
                linear-gradient(var(--base-300), var(--base-300)),
                url("/assets/icons/pill.svg") center/80% no-repeat;
            mask-composite: subtract;
        }
    }

    @media (max-width: 480px) {
        .preloader-mask {
            mask:
                linear-gradient(var(--base-300), var(--base-300)),
                url("/assets/icons/pill.svg") center/70% no-repeat;
            mask-composite: subtract;
        }
    }
</style>
