<h1 class="title"><slot /></h1>

<style>
    h1 {
        font-size: 5rem;

        @media (max-width: 1200px) {
            font-size: 4rem;
        }

        @media (max-width: 800px) {
            font-size: 3rem;
        }
    }
</style>
