---
import GSAPAnimations from "../components/animations/GSAPAnimations.astro";
import MenuAnimations from "@components/animations/MenuAnimations.astro";
import Button from "@components/common/Button.astro";
import { ArrowRight, Menu as MenuIcon } from "@lucide/astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Jonatan Luna Franco | Backend Developer</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <Button name="menu-btn" text="Menu">
            <MenuIcon />
        </Button>
        <a href="/resources/resume.pdf" target="_blank">
            <Button name="contact-btn" text="Resume">
                <ArrowRight />
            </Button>
        </a>

        <slot />

        <GSAPAnimations />
        <MenuAnimations />
    </body>
</html>

<style is:global>
    .menu-btn {
        position: fixed;
        z-index: 10;
        top: 3rem;
        right: 3rem;
    }

    .contact-btn {
        position: fixed;
        z-index: 10;
        bottom: 3rem;
        left: 50%;
        transform: translate(-50%);
    }

    @media (max-width: 480px) {
        .menu-btn {
            top: 1.5rem;
            right: 1.5rem;
        }

        .contact-btn {
            bottom: 1.5rem;
        }
    }
</style>
